<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
    <title>Home</title>
</head>
<body class="homeBody">


    <nav class="navbar">
        <ul class="nav justify-content-end">
           <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
           </li>
           <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
           </li>
        </ul>
     </nav>
     <div class="container p-3">
        <div class="row">
           <div class="col">
              <h1>Home</h1>
           </div>
        </div>
     </div>



     <div class="row all_posts">
      {% for post in allpost %}
   <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="card shadow bg-white rounded border-0 mt-2">
        <img class="card-img-top" src="{{post.image_link |e}}" class="card-img" alt="">
          <div class="card-body bg-light " >
            <h5 class="post-title">{{post.title |e}}</h5>
            <p class="post_author">By {{post.author_name |e}}</p>
            <p class="card-text post_date"><small class="text-muted">Posted {{post.createdAt | date("d M, Y")}}</small></p>
               <a href="/delete/{{post._id}}" class="btn-link">Delete</a>
               <a href="/edit/{{post._id}}" class="btn-link">Edit</a>
        </div>
      </div>
  </div>
  {% endfor %}
</div>

<footer class="bg-light text-center text-lg-start">
   <!-- Grid container -->
   <div class="container p-4">
     <!--Grid row-->
     <div class="row">
       <!--Grid column-->
       <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
         <h5 class="text-uppercase">Footer text</h5>
 
         <p>
           Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
           
         </p>
       </div>
       <!--Grid column-->
 
       <!--Grid column-->
       <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
         <h5 class="text-uppercase">Footer text</h5>
 
         <p>
           Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
           
         </p>
       </div>
       <!--Grid column-->
     </div>
     <!--Grid row-->
   </div>
   <!-- Grid container -->
 
   <!-- Copyright -->
   <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
     © 2020 Copyright:
     <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
   </div>
   <!-- Copyright -->
 </footer>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>




