$white: whitesmoke; //bg color
$primary: #F3FAFF;  //light blue 
$secondary:#1732A5; //dark blue
$light: #F4D1E3; //pink 
$dark: #FFBC4D;  //orange
$info: #70D8B1; //green
$display1-size : 5rem;
$display2-size : 4rem;
$display3-size : 3rem;
$display4-size : 2rem;
$headings-font-family :'Ubuntu', sans-serif;
$spacer: 2rem !default; //margin and padding overall spacing size




.card-img-top {
  width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
  background-position: center;
  background-size: cover;
  transition:all 0.3s ease-in-out;
  opacity:1;
}
.card:hover .card-img-top,
.card:focus .card-img-top {
  transform: scale(1.02);
  opacity:0.5;
}

.card:hover .card-img-overlay{
   color:#FFBC4D ;
}

.card-img-overlay>h5, .card-img-overlay>p{
    visibility:hidden;
}

.card-img-overlay:hover h5, .card-img-overlay:hover p{
    visibility: visible;
}

.card:hover .card-img-overlay p{
    font-size:1.5em;
    letter-spacing:0.02em;
}


.navbar{
background-color:white;
}

.nav-link{
  color:  #1732A5 ;
}

.nav-link:hover {
  color: #FFBC4D;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
} 

*{
    box-sizing: border-box;
    color: #333;
}

html {
    overflow-x: hidden;
}

body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all ease .3s;
}

.insert_post {
    width: 80%;
    margin: auto;
    padding: 0 1rem;
}

.all_posts{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding: 0 2rem;
}

.post-con-outer {
    width: 33.333%;
    padding: 1rem 1rem;
    height: 620px;
}

.btn{
background-color:#FFBC4D;
}


.post-con-inner {
    background: rgba(255, 255, 255, 0.7);
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    backdrop-filter: blur(10px);
    border-radius: 5px;

}

.post_title {    
    width: 100%;
    font-size: 1.2rem;
    margin: 0 0 .618rem 0;
    font-weight: 500;
    
}

.post_comment {
    width: 100%;
    padding: .618rem 0;
}

.post_date {
   margin-left: auto;
   display: block;
   position: absolute;
   right: 3rem;
   font-size: .8rem;
   font-style: italic;
   opacity: 50%;
}

.post_author {
    font-size: .8rem;
    font-style: italic;
    opacity: 50%;
    margin: 0 0 1rem 0;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

form input, #post_content {
    height: 2rem;
    width: 100%;
    margin: 0 .618rem;
    font-family: sans-serif;
    line-height: 2rem;
    padding-left: .618rem;
    border-radius: 1rem;
    border: transparent;
    color: #F3FAFF;
}

form label {
    font-size: .8rem;
    color: #333;
    height: 2rem;
    line-height: 2rem;
    padding-left: 1.3rem;
}

h1 {
    color:#1732A5;
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    font-weight: 500;
    margin: 0;
}

h2 {
    color:#F4D1E3;
    text-align: center;
}

.submit-btn-form {
    width:10%;
}

.submit-btn {;
    border-radius: 5rem;
    background-color: #FFBC4D;
    border: transparent;
}

.submit-btn:hover {
    background: #333;
    color: #fff;
    transition: all .3s ease;
}

.background-con {
    width: 100vw;
    height: 100%;
    position: absolute;
    z-index: -2;
    margin: 0;
    padding: 0;
    object-fit: cover;
   
}


.footer-con {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 1rem;
    width: 100%;
    padding-right: 1rem;
}

.btn-link {
    font-size: .8rem;
    text-decoration: none;
    opacity: 50%;
    padding:0 .618rem 0 0;
}

.btn-link:hover{
    opacity: 100%;
    transition: all .3s ease;
    text-decoration: underline;
}

.post-img-con {
    padding: 2rem 2rem 0 0;
    padding-right: 2rem;
    width: 100%;
    height: 320px;
    object-fit: cover;
    overflow: hidden;
    object-position: center;
    position: absolute;
    bottom: 4rem;
}

.post-img {
    width: 100%;
}

.formColor{
    background-color:#F4D1E3 
    border: transparent;
}

/* .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 20%;
    padding: 0 1rem;
    
}


.login-form {
    display: flex;
    justify-content: center;
    align-self: center;
} */

/* @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;700&display=swap"); */
@import url("https://global-uploads.webflow.com/5bcb5ee81fb2091a2ec550c7/5f1a5a5b336ef913e90f3d71_education-main-image-export-v0.1.png");


* {
  box-sizing: border-box;
}


h1 {
  font-size: 2.5em;
  color: $clr-text-headline;
  font-weight: 700;
  margin: 0;
}

p {
  line-height: 180%;
}

.login-box {
  display: flex;
  width: 60em;
  height: 70vh;
  border-radius: 20px;
  background-color: $clr-bg-box;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.025);
}

.login-box-formbox,
.login-box-quotebox {
  /* display: flex;
  flex-direction: column; */
  background-color: white;
  justify-content: center;
  flex: 1 1 100%;
  //   width: 100%;
  padding: 4em 6em;
}

.login-box-quotebox {
  color: white;
  background-color: $clr-bg-quote;
  background-image: url(https://cdn.dribbble.com/users/1312159/screenshots/5825513/lunamik-team-work_4x.png?compress=1&resize=1000x750);
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: left;
}

.login-box-signup {
  a {
    color: $clr-text-link;
    font-weight: 600;
    text-decoration: inherit;

    &:hover,
    &:focus {
      color: $clr-bg-quote-hover;
    }
  }
}

.login-box-login {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-grow: 1;

  & > * {
    width: 100%;
    flex-shrink: 0;
  }
}

form {
  & > div {
    position: relative;
    padding: 1.5em 0;

    input {
      color: $clr-text-main;
      width: 100%;
      padding: 1.5em 2em;
      border: 1px solid $clr-text-main;
      border-radius: 5px;

      &.input-email,
      &.input-password {
        background-repeat: no-repeat;
        background-position: right 1em top 1.25em;
      }

      &.input-email {
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="lightgrey" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="4"></circle><path d="M16 12v1.5a2.5 2.5 0 0 0 5 0v-1.5a9 9 0 1 0 -5.5 8.28"></path></svg>');
      }

      &.input-password {
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="lightgrey" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><rect x="5" y="11" width="14" height="10" rx="2"></rect><circle cx="12" cy="16" r="1"></circle><path d="M8 11v-4a4 4 0 0 1 8 0v4"></path></svg>');
      }

      &:focus {
        outline-color: $clr-bg-quote;
        border-color: $clr-bg-quote;
      }
    }

    label {
      font-size: 0.85em;
      position: absolute;
      top: 1.25em;
      left: 1.5em;
      background: $clr-bg-box;
      padding: 0 0.5em;
    }

    &:focus-within label {
      color: $clr-bg-quote;
      font-weight: 600;
    }

    .btn {
      color: $clr-bg-box;
      font-size: 1em;
      letter-spacing: 1px;
      line-height: 1;
      background-color: $clr-bg-quote;
      border-color: $clr-bg-quote;
      cursor: pointer;
      transition: all 500ms ease;

      &:hover,
      &:focus {
        background-color: $clr-bg-quote-hover;
        border-color: $clr-bg-quote-hover;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
      }
    }
  }
}

#post_title, #author_name, #post_content, #image_link{
    background-color:#F4D1E3;
    border: transparent;
}

.alternate-text {
  display: flex;
  align-items: center;
  margin: 1.5em 0;
  text-align: center;

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid $clr-text-main;
  }

  &::before {
    margin-right: 1em;
  }

  &::after {
    margin-left: 1em;
  }
}

.alternate-boxes {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-top: 1.5em;
}

.alternate-box {
  color: $clr-text-headline;
  text-align: center;
  width: 100%;
  padding: 1em 1em;
  border: 1px solid rgba($clr-text-main, 0.5);
  border-radius: 5px;
  cursor: pointer;
  transition: all 500ms ease;

  svg {
    transition: transform 500ms ease;
  }

  &:hover {
    border-color: $clr-text-main;
    background-color: rgba($clr-text-main, 0.25);

    svg {
      transform: scale(1.25);
    }
  }
}

.quote-container {
  padding: 1em 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -4.5em;
    left: -0.65em;
    width: 3.5em;
    height: 3.5em;
    background-color: $clr-accent;
    border-radius: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
    height: 100%;
    width: 2px;
    background-color: rgba($clr-bg-box, 0.25);
  }
}

.quote {
  color: $clr-bg-box;
  font-size: 7em;
  font-weight: 600;
  line-height: 1;
}

.quote-small {
  color: $clr-bg-main;
  line-height: 180%;
  padding: 2em 0 0 6em;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 2.75em;
    left: 1.2em;
    width: 3em;
    height: 2px;
    background-color: rgba($clr-bg-box, 0.25);
  }
}

.submit-btn {
    width: 70%;
    margin: 2rem 1rem 0 1rem;
}

.homeBody {
  background-color:#F4D1E3 ;
}

.dashboardColor {
  background-color:#F3FAFF ;
  width: 100%;
}

.footerText {
  color:#FFBC4D;
}